@if (this.recipe() !== undefined) {
  <div class="container">
    <mat-card>
      <div style="display: flex; justify-content: space-between">
        <h1>{{ this.recipe()?.title }}</h1>
        <button (click)="editDialog()" class="edit" mat-fab>
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <hr />
      @if (this.recipe()!.imagestr) {
        <img src="{{ this.recipe()!.imagestr }}" alt="" />
      }
      <main>
        <div style="min-width: 50vw">
          <h2>Ingredients:</h2>
          <table
            mat-table
            [dataSource]="this.recipe()!.ingredients"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="item">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let element">{{ element.item }}</td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
            </ng-container>

            <ng-container matColumnDef="unit">
              <th mat-header-cell *matHeaderCellDef>unit</th>
              <td mat-cell *matCellDef="let element">{{ element.unit }}</td>
            </ng-container>

            <ng-container matColumnDef="preparation">
              <th mat-header-cell *matHeaderCellDef>preparation</th>
              <td mat-cell *matCellDef="let element">
                {{ element.preparation }}
              </td>
            </ng-container>

            <ng-container matColumnDef="optional">
              <th mat-header-cell *matHeaderCellDef>optional</th>
              <td mat-cell *matCellDef="let element">{{ element.optional }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-card>
            <h2>Method</h2>
            @for (step of this.recipe()!.method; track $index) {
              <p>{{ step }}</p>
            }
          </mat-card>
        </div>
      </main>
    </mat-card>
  </div>
}
